@model List<InstaBotWeb.Models.Telegram.DataBot>
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css">
	<link rel="stylesheet" href="/css/Telegram-styles/telegram.css">
	<title>Document</title>
</head>
<body>
	<div class="container main">
		<div class="row">
			<div class="col-lg-4 control-panel">
				<input type="text" class="form-control" placeholder="Token Вашего Бота" id='token'>
				<input type="submit" class="btn-primary" id="btn-add" value="Добавить">
				<input type="submit" class="btn-success" id="btn-run" value="Запустить">
				<input type="submit" class="btn-success" id="btn-stop" value="Стоп">
				<div>
					<ul class="list-bots">
						@for (int i = 0; i < Model.Count; i++)
						{
							<li onclick="GetChat(event);" id="@i">@Model[i].UsernameBot</li>
						}
					</ul>
				</div>
			</div>
			<div class="col-lg-8 chat-panel">

			</div>
		</div>
	</div>
	<script src="/js/telegram-script/telegram.js"></script>
</body>
</html>