@model InstaUserModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
	<link href="~/css/styleInst.css" rel="stylesheet" />
	<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <title>AddInstagram</title>
</head>
<body>
	<strong>Добавьте аккаунт Instagram</strong>
	<div class="form-box">
		<form asp-action="InstagramAdding" asp-controller="Instagram">

			<div asp-validation-summary="ModelOnly"></div>
			<div class="from-group">
				<label asp-for="UserName">Имя пользователя:</label>
				<input type="text" asp-for="UserName"/>
				<span asp-validation-for="UserName"></span>
			</div>

			<div class="from-group">
				<label asp-for="Passsword">Пароль:</label>
				<input type="text" asp-for="Passsword" />
				<span asp-validation-for="Passsword"></span>
			</div>
			<div class="from-group">
				<input type="submit" value="Добавить" class="btn btn-toolbar" />
			</div>

		</form>
	</div>

</body>
</html>
