.setting{
    border: 1px solid red;
    display: inline-block;
}
.data-profile{
    border: 1px solid red;
    display: inline-block;
    margin-left:60%;
}
/* .main-box{
    border: 1px solid red;
} */