@model UserProfile
@{
	Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="~/css/changesProfile-styles/changes.css">
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css">
	<title>Document</title>
</head>
<body>
	<div class="main">
		<div class="container text-center">
			<h1>Настройки аккаунта</h1>
			<form asp-action="ChangesProfile" asp-controller="Account" class="row text-center" method="post" enctype="multipart/form-data" >
				<div class="col-lg-6 offset-lg-3">
					<label asp-for="FirstName">Новое Имя:</label>
					<input asp-for="FirstName" type="text" placeholder="Введите имя" class="form-control">
				</div>
				<div class="col-lg-6 offset-lg-3">
					<label asp-for="LastName">Новое Фамилия:</label>
					<input asp-for="LastName" type="text" placeholder="Введите Фамилию" class="form-control">
				</div>
				<div class="col-lg-6 offset-lg-3 add-picture">
					<input value="Выберите аватарку" name="Avatar" type="file" class="btn-primary">
				</div>
				<input type="submit" id="change_submit" class="col-lg-4 offset-lg-4 btn-lg btn-primary btn-form">
			</form>
		</div>
	</div>
</body>
</html>