@model LoginModel;
@{
	Layout = "_Layout";
}
	<head>
		<link href="/css/form-styles/login.css" rel="stylesheet" />
	</head>
	<body>
		<div class="container">
			<div class="row">
				<h2 class="col-lg-8 offset-lg-5">Вход на сайт</h2>
				<div class="text-danger" asp-validation-summary="All"></div>
				<form asp-action="Login" asp-controller="Account" class="col-lg-8 offset-lg-2 form-login" asp-anti-forgery="true" method="post">
					<input type="hidden" name="returnUrl" value="@ViewBag.returnUrl" />
					<div class="form-group">
						<label asp-for="Email">Email</label>
						<input asp-for="Email" type="email" class="form-control" id="exampleDropdownFormEmail1" placeholder="Введите почту">
					</div>
					<div class="form-group">
						<label asp-for="Password">Пароль</label>
						<input asp-for="Password" type="password" class="form-control" placeholder="Password">
					</div>
					<div class="form-group">
						<div class="form-check">
							<input asp-for="RememberMe" type="checkbox" class="form-check-input" id="dropdownCheck">
							<label asp-for="RememberMe" class="form-check-label" for="dropdownCheck">
								Запомнить меня
							</label>
						</div>
					</div>
					<button type="submit" class="btn btn-primary">Войти</button>
				</form>
			</div>


		</div>
		<div class="dropdown-divider"></div>
		<a class="dropdown-item" asp-action="Register" asp-controller="Account">Создать новый аккаунт</a>
		<a class="dropdown-item" href="#">Забыли пароль?</a>

	</body>


