@{
	ViewData["Title"] = "View";
	Layout = "_Layout";
}
<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
<link href="~/css/home-styles/main-style.css" rel="stylesheet" />
<link href="~/css/home-styles/style-popup.css" rel="stylesheet" />
<link href="~/css/home-styles/style-features.css" rel="stylesheet" />
<div>
	<main class="pb-0 pt-5 pt-lg-6">
		<div class="container">
			<div class="row align-items-center justify-content-between" style="height:32rem">
				<div class="col-lg-7 col-xl-6 text-center px-md-6 px-lg-0">
					<h1 class="display-4">Сегодня ты увеличишь продажи в Instagram на 67%.</h1>
					<p class="lead">
						Чат-бот в Instagram Stories - это что-то новенькое, да? Узнай о новом инструменте, который невероятно увеличивает продажи.
					</p>
					<a href="/register" class="btn btn-primary btn-lg mt-3" style="background-color:brown">Начать без подготовки</a>
					<div class="d-flex justify-content-center mt-2 mb-3">
						<a class="d-flex align-items-center btn-info" id="more-info">
							<span class="text-small ml-2">Узнать больше</span>
						</a>
						<div class="fixed-overlay">
							<button class="popup-close">&times;</button>
							<div class="popup">
								<div class="modal_container">
									<div class="header">
										<h1><strong>Чат-бот в Instagram:</strong></h1>
									</div>
									<div class="more-info">
										<p>
											Это возможность автоматически отвечать<br>
											заготовленными сообщениями всем, кто напишет<br>
											тебе в Instagram Direct.
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
</div>
<section class="features" style="height:50rem;" >
	<div class="container">
		<div class="header-features">
			<div class="row">
				<div class="col-lg-12 text-center">
					<div class="features-font">
						<h2>Разработка чат-ботов для социальных сетей</h2>
						<p>
							умные боты с искусственным интеллектом для популярных соц.сетей
							автоматически взаимодействуют с посетителями — осуществляют
							поддержку, разбирают обращения, отвечают на вопросы, делают
							продажи, проводят презентации бизнеса или продукции, запускают
							акции и проводят опросы, продвигают бренд в социальных сетях
							даже без вашего личного участия.
						</p>
					</div>
				</div>
			</div>
			<div class="row features-block text-center">
				<div class="col-lg-3">
					<div class="facebook-box">
						<svg width="80" height="80" viewBox="0 0 80 80" fill="none">
							<circle cx="40" cy="40" r="40" fill="#3A559F"></circle>
							<path d="M51.0209 16.01L44.7847 16C37.7785 16 33.2508 20.6366 33.2508 27.8129V33.2594H26.9806C26.4388 33.2594 26 33.6978 26 34.2386V42.13C26 42.6708 26.4393 43.1088 26.9806 43.1088H33.2508V63.0213C33.2508 63.5621 33.6896 64 34.2314 64H42.4123C42.9541 64 43.3929 63.5616 43.3929 63.0213V43.1088H50.7242C51.2661 43.1088 51.7048 42.6708 51.7048 42.13L51.7078 34.2386C51.7078 33.979 51.6043 33.7303 51.4207 33.5465C51.237 33.3628 50.9869 33.2594 50.7267 33.2594H43.3929V28.6423C43.3929 26.4231 43.9227 25.2966 46.8189 25.2966L51.0199 25.2951C51.5612 25.2951 52 24.8567 52 24.3163V16.9887C52 16.4489 51.5617 16.011 51.0209 16.01Z"
								  fill="white"></path>
						</svg>
						<p>Чат-боты для Facebook</p>
					</div>
				</div>
				<div class="col-lg-3">
					<div class="vk-box">
						<svg width="80" height="80" viewBox="0 0 85 85" fill="none">
							<circle cx="42.5" cy="42.5" r="42.5" fill="#3D75B2"></circle>
							<path d="M24.2713 32.0874C25.8731 36.0402 27.9031 39.7671 30.5767 43.1127C30.9314 43.5579 31.3784 43.9537 31.8493 44.276C32.5371 44.7481 33.186 44.5822 33.4657 43.7959C33.7615 42.9708 34.033 41.2987 34.0491 40.4323C34.0932 38.1683 34.0425 36.6846 33.9208 34.4235C33.8419 32.9753 33.3267 31.7036 31.1949 31.3198C30.5366 31.2008 30.4754 30.6593 30.8984 30.1191C31.7789 28.9945 33.0055 28.8152 34.3357 28.7443C36.4915 28.6279 38.6552 28.7229 40.8137 28.7443C41.6929 28.7524 42.5774 28.8232 43.4432 29.0118C44.5726 29.2578 45.1774 30.0495 45.3635 31.1513C45.4599 31.7196 45.5094 32.3039 45.4959 32.879C45.4398 35.3501 45.3207 37.82 45.2925 40.2898C45.2805 41.2592 45.3513 42.2529 45.5588 43.197C45.8492 44.5127 46.7457 44.843 47.6625 43.8923C48.8266 42.6849 49.853 41.3262 50.8164 39.9463C52.5667 37.4363 53.874 34.6817 54.9995 31.8415C55.5815 30.376 56.0272 30.0577 57.6048 30.0537C60.5701 30.047 63.5355 30.0444 66.5009 30.0537C67.0268 30.0564 67.5767 30.1059 68.0731 30.2638C68.8787 30.5205 69.1986 31.1771 69.0098 32.0102C68.5696 33.9626 67.5138 35.622 66.3831 37.2173C64.5685 39.7767 62.667 42.2747 60.8098 44.8046C60.5729 45.1269 60.3642 45.4706 60.1701 45.8195C59.4755 47.0738 59.5238 47.7771 60.5367 48.8215C62.1492 50.4837 63.8754 52.0387 65.437 53.7463C66.5718 54.9887 67.6222 56.3365 68.5215 57.7553C69.6589 59.5498 68.9563 61.24 66.8314 61.5408C65.4947 61.7295 58.9647 61.5423 58.6273 61.5408C56.8716 61.5329 55.3328 60.9244 54.0936 59.733C52.7153 58.4065 51.4627 56.9516 50.1393 55.5675C49.7406 55.1503 49.315 54.7505 48.8561 54.4014C47.7735 53.5763 46.711 53.7595 46.2052 55.03C45.773 56.1212 45.3996 58.9867 45.3821 59.2315C45.2912 60.5112 44.4762 61.3269 43.0417 61.4057C38.9001 61.6304 34.8869 61.169 31.1483 59.1673C27.9795 57.4717 25.4491 55.0741 23.2572 52.278C19.7753 47.8369 17.0251 42.9551 14.5142 37.93C14.3859 37.6731 11.8428 32.2654 11.7744 32.0099C11.5473 31.1546 11.7592 30.3376 12.4823 30.0564C12.9332 29.8811 21.318 30.0558 21.4575 30.0633C22.7954 30.1357 23.7077 30.6997 24.2713 32.0874Z"
								  fill="white"></path>
						</svg>
						<p>Чат-боты для ВКонтакте</p>
					</div>
				</div>
				<div class="col-lg-3">
					<div class="instagram-box">
						<svg width="80" height="80" viewBox="0 0 80 80" fill="none">
							<circle cx="40" cy="40" r="40" fill="#C536A4"></circle>
							<path d="M50.1333 18H30.8662C24.3232 18 19 23.3234 19 29.8664V49.1336C19 55.6768 24.3232 61 30.8662 61H50.1333C56.6768 61 62 55.6766 62 49.1336V29.8664C62.0003 23.3234 56.6768 18 50.1333 18ZM58.1851 49.1336C58.1851 53.5731 54.5731 57.1848 50.1336 57.1848H30.8662C26.4269 57.1851 22.8152 53.5731 22.8152 49.1336V29.8664C22.8152 25.4271 26.4269 21.8152 30.8662 21.8152H50.1333C54.5729 21.8152 58.1848 25.4271 58.1848 29.8664V49.1336H58.1851Z"
								  fill="white"></path>
							<path d="M40.5 28C34.1588 28 29 33.1589 29 39.5003C29 45.8413 34.1588 51 40.5 51C46.8412 51 52 45.8413 52 39.5003C52 33.1589 46.8412 28 40.5 28ZM40.5 47.0399C36.3425 47.0399 32.9598 43.6576 32.9598 39.5C32.9598 35.3421 36.3422 31.9596 40.5 31.9596C44.6578 31.9596 48.0402 35.3421 48.0402 39.5C48.0402 43.6576 44.6575 47.0399 40.5 47.0399Z"
								  fill="white"></path>
							<path d="M52 25C51.2118 25 50.4375 25.3191 49.8809 25.8782C49.3215 26.4345 49 27.2091 49 28C49 28.7885 49.3218 29.5627 49.8809 30.1218C50.4373 30.6782 51.2118 31 52 31C52.7909 31 53.5627 30.6782 54.1218 30.1218C54.6809 29.5627 55 28.7882 55 28C55 27.2091 54.6809 26.4345 54.1218 25.8782C53.5655 25.3191 52.7909 25 52 25Z"
								  fill="white"></path>
						</svg>
						<p>Чат-боты для Instagram</p>
					</div>
				</div>
				<div class="col-lg-3">
					<div class="twitter-box">
						<svg width="80" height="80" viewBox="0 0 80 80" fill="none">
							<circle cx="40" cy="40" r="40" fill="#50ABF1"></circle>
							<path d="M15.0029 57.3134C19.7107 60.282 25.2952 62 31.2815 62C48.0993 62 61.7323 48.4437 61.7323 31.7241C61.7323 31.3066 61.7235 30.8923 61.7074 30.4791C62.3157 30.0032 66.0778 27.0051 67 25.0777C67 25.0777 63.9448 26.3401 60.9547 26.6375C60.9488 26.6375 60.9415 26.6388 60.9356 26.6388C60.9356 26.6388 60.9415 26.6359 60.9517 26.6287C61.2273 26.4456 65.0792 23.8386 65.6007 20.7323C65.6007 20.7323 63.4397 21.8791 60.4141 22.8824C59.9132 23.0478 59.3889 23.2105 58.8482 23.3612C56.8979 21.2917 54.1257 20 51.0485 20C45.146 20 40.3631 24.754 40.3631 30.6182C40.3631 31.4457 40.4588 32.2511 40.64 33.0244C39.8151 32.9908 27.2544 32.2906 18.7093 22.0019C18.7093 22.0019 13.6023 28.9338 21.7526 36.0619C21.7526 36.0619 19.275 35.9638 17.1375 34.694C17.1375 34.694 16.3524 43.0918 25.5825 45.239C25.5825 45.239 23.7663 45.923 20.8688 45.4353C20.8688 45.4353 22.4892 52.2207 30.6897 52.8549C30.6897 52.8549 24.2051 58.6792 15 57.3126L15.0029 57.3134Z"
								  fill="white"></path>
						</svg>
						<p>Чат-боты для Twitter</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<script src="~/js/popup-script.js"></script>

