@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

body {
	background-image: url(https://steemitimages.com/DQmVKD26BBSZTuc7FdCSYipNTyiUeTqCPrqQfFnrR4cW1pP/bot.jpg);
	background-repeat: no-repeat;
	background-attachment:fixed;
	background-size:100%;
	background-position:center;
	font-family: 'Roboto', sans-serif;
}

h1 {
	color: antiquewhite;
	background-color: rgba(9, 3, 3, 0.28);
}

.lead {
	color: rgb(0, 0, 0) ;
}
.btn-more {
	background-color: rebeccapurple;
}







